//Loader
#loading {
  background-color: $orange;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 101;
  margin-top: 0;
  top: 0;
  transition: opacity .3s linear, z-index .1s linear .3s;

  &.hide {
    opacity: 0;
    z-index: -1;

  }
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);

}

.object {

  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
  border-right: 5px solid transparent;

  -webkit-animation: animate 2s infinite;
  animation: animate 2s infinite;

}

#object_one {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}

#object_two {
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#object_three {
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#object_four {
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;

}

@-webkit-keyframes animate {

  50% {

    -ms-transform: rotate(360deg) scale(0.8);
    -webkit-transform: rotate(360deg) scale(0.8);
    transform: rotate(360deg) scale(0.8);
  }

}

@keyframes animate {

  50% {

    -ms-transform: rotate(360deg) scale(0.8);
    -webkit-transform: rotate(360deg) scale(0.8);
    transform: rotate(360deg) scale(0.8);
  }

}

//button
.btn {
  padding: 13px 22px;
  color: $white;
  font-size: 18px;
  border-radius: 3px;

  &.default-btn {
    background-color: $darkGray;
  }

  &.default-btn:hover {
    background-color: $gray;
  }

  &.active-btn {
    background-color: $orange;
  }

  &.active-btn:hover {
    background-color: $orangeLight;
  }

  &.disabled {
    background-color: $lightGray;
    cursor: not-allowed;
  }
}

//page title
%title {
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontSemiBold;
}

%topUserPanel {
  cursor: pointer;
  padding: 18px;
  border-left: 1px solid $lightGray;
  font-weight: $fontLight;
  font-size: 20px;
  color: #fff;
  position: relative;

  &:hover {
    background-color: #299fb8;
  }

  @media (max-width: 599px) {
    padding: 18px 10px;
    font-size: 15px;
  }
}

.page-title {
  @extend %title;
  text-transform: uppercase;
}

.section-title {
  @extend %title;
}

//container
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  &.sm {
    max-width: 714px;
  }

  &.xs {
    max-width: 455px;
  }
}

//input
input,
textarea {
  padding: 15px;
  border: 1px solid $lightGray;
  border-radius: 5px;
  color: $titleColor;

  &::placeholder {
    color: $titleColor;
  }

  &:focus {
    border-color: $gray;
    color: $black;
  }
}

.drop-down-lang {
  left: 0;
}

.drop-down-notification {
  left: -250px;
  height: 280px;
}

.open {
  background-color: #299fb8;

  .fa-angle-down {
    display: inline-block;
    transform: rotate(180deg);
    transition: all .1s linear;
    line-height: 0;
  }
}

//header
#header {
  width: 100%;
  border-bottom: 1px solid $lightGray;
  background: linear-gradient(to right, #307aa5, #25b7c4);

  .user-lang {
    @extend %topUserPanel;
    .lang-text {
      font-size: 16px;
      margin: 0 20px 0 15px;
    }
  }
  .user-notification {
    @extend %topUserPanel;

    i {
      position: relative;

      .active-notification {
        display: none;
        position: absolute;
        width: 7px;
        height: 7px;
        top: -3px;
        right: 2px;
        background-color: $orange;
        border-radius: 50%;

        &.active {
          display: block;
        }
      }
    }
  }
  .user-setting {
    @extend %topUserPanel;
  }
  .user-quit {
    @extend %topUserPanel;
  }
}

//aside
%activeLink {
  border-left-color: #3c8dbc;
  background-color: #1e282c;
  color: $activeLinkColor;
  transition: all .2s linear;
}

#aside {
  background-color: #222d32;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;

  .nav-send {
    background-color: #1a2226;
    padding: 10px 18px;
    color: #4b646f;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 11px;
  }

  .menu-control {
    padding: 18px;
    background-color: #367fa9;

    .logo {
      color: #fff;
      font-size: 21px;
    }

    .menu-btn {
      cursor: pointer;

      span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #fff;

        & + span {
          margin-top: 5px;
        }
      }
    }
  }
  .aside-menu {
    margin-bottom: 30px;

    ul {
      li {
        color: $darkGray;

        &.active {
          a {
            @extend %activeLink;
          }
        }
        a {
          display: flex;
          align-items: center;
          padding: 14px 3px;
          border-left: 4px solid transparent;

          i {
            font-size: 17px;
            width: 40px;
            text-align: center;
          }

          &:hover {
            @extend %activeLink;
          }
        }
      }
    }
  }
  .my-profile {
    padding: 10px 18px;

    .profile-data {
      .profile-photo {
        border-radius: 50%;
        margin-right: 10px;
      }
      .profiler-name {
        color: #fff;
        margin-right: auto;
      }
    }
  }
}

//main
.content-wrapper {
  padding: 18px;
  height: calc(100vh - 62px);
  overflow-y: auto;
}

//card
.card {
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header {
    border-bottom: 1px solid $lightGray;
    padding: 18px;
  }

  .card-body {
    padding: 18px 18px 0 18px;
    border-bottom: 1px solid $lightGray;

    .box {
      display: block;
      height: 90px;
      background: #fff;
      width: 100%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      transition: all .2s linear;
      cursor: pointer;
      margin-bottom: 18px;

      &:hover .info-box {
        color: #fff;
      }

      &:hover .icon-box {
        font-size: 50px;
      }

      .info-box {
        padding: 5px 10px;
        margin-left: 90px;

        a {
          font-size: 20px;
        }
      }

      .icon-box {
        float: left;
        margin-top: -2px;
        margin-left: -1px;
        height: 90px;
        width: 90px;
        text-align: center;
        font-size: 45px;
        color: white;
        line-height: 90px;
        transition: all .1s linear;
      }
    }
  }

  .card-date {
    padding: 30px;
    border-bottom: 1px solid $lightGray;

    .news-wrap {
      padding-top: 5px;
      border-top: 2px solid $orange;

      ul {

        li {
          position: relative;

          .new-data {
            position: absolute;
            top: 10px;
            right: 5px;
          }

          .news-info {
            padding-left: 10px;

            a {
              font-size: 20px;
              font-family: 'Roboto', sans-serif;
              font-weight: 400;
              color: #3c8dbc;
            }

            p {
              width: 295px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #979797;
            }
          }

          & + li {
            margin-top: 10px;
          }

          &:hover{
            cursor: pointer;
            background-color: #e3e3e3;
          }
        }
      }
    }
  }

  .card-form {

    .postback-setting {

      .set-descroption {
        padding: 20px 0 0 20px;
        font-weight: 400;
        color: $black;
      }
    }
    .select-group {
      padding: 20px;

      .textarea-wrap {
        width: 49%;

        textarea {
          min-height: 185px;
        }
      }

      label {
        display: block;
        font-size: 16px;
        color: $titleColor;
        margin-bottom: 10px;
        font-weight: 500;
      }
    }
    .input-group {
      label {
        display: block;
      }
      input {
        width: 100%;
      }
    }
  }
}

.datepicker-form {

  .date-input-wrap {
    padding: 5px 0;
    display: inline-block;
    border: 1px solid $lightGray;
    border-radius: 3px;
    color: $black;
    vertical-align: middle;
    margin-right: 12px;

    input {
      padding: 11px 16px;
      border: none;

      @media (max-width: 767px) {
        width: 100px;
      }
      &#to {
        border-left: 1px solid $lightGray;
      }
    }

    label {
      padding: 0 14px 0 10px;
      vertical-align: middle;
      display: inline-block;
    }
  }

  .btn {
    vertical-align: middle;
  }
}

//Drop down
.drop-down-menu {
  display: none;
  position: absolute;
  padding: 10px 10px;
  background-color: $xsLightGray;
  top: 100%;
  right: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  color: #222d32;

  .notification {
    font-size: 13px;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    color: #222d32;
    font-weight: 600;
  }

  .view-content {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    border-top: 1px solid #e3e3e3;
    color: #222d32;
    text-align: center;
  }

  .content {
    max-height: 203px;
    overflow: auto;

    .new-notification {
      margin: 0;
      padding: 0 6px 0 0;

      li {
        padding: 10px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        a {
          color: #222d32;
          font-size: 13px;
          font-weight: 300;
        }

        &:hover {
          background-color: $lightGray;
        }
      }
    }
  }

  .lang-variables {
    font-size: 14px;
    color: #3c8dbc;

    li {

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          color: $orange;
        }
      }
      & + li {
        margin-top: 15px;
      }
    }
  }
}

.btn-row {
  padding: 23px 0;
}

.btn-wraps {
  padding: 20px;
  border-top: 1px solid #e3e3e3;
  text-align: right;
}

//table
table {
  width: 100%;
  table-layout: fixed;
  font-family: 'Roboto', sans-serif;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);

  th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
}

.tbl-content {
  height: 330px;
  overflow-x: auto;
  margin-top: 0px;

  td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal {
  background-color: $modalBg;
  display: none;

  &#links,
  &#banners {
    width: 70%;
    max-width: 1075px;
    min-height: 100px;

    .card-header {
      span {
        cursor: pointer;
      }
    }

    .select-group {
      flex-wrap: nowrap;
      .input-group + .input-group {
        margin-left: 20px;
      }

      @media (max-width: 599px) {
        flex-direction: column;
      }
    }
  }
}

//checkbox
input[type="checkbox"] {
  display: none;

  & + label {
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 1px solid $lightGray;
      background-color: #fff;
      margin-right: 16px;
    }
  }

  &:checked {
    & + label {
      &::before {
        background: $green url("../img/checkbox-bg.png") no-repeat center;
      }
    }
  }
}

//checkbox wrapper
.checkbox-wrap {
  display: inline-block;
  padding: 20px;
  border-top: 1px solid #e3e3e3;
  .checkboxes {
    padding-top: 30px;
    height: 300px;

    .checkbox-group {
      padding: 12px 30px 12px 12px;
      flex-grow: 1;
      flex-basis: 33%;

      @media (max-width: 991px) {
        flex-basis: 50%;
      }
      @media (max-width: 767px) {
        flex-basis: 100%;
      }
      label {
        flex-grow: 1;
      }

      &:hover {
        background-color: $xsLightGray;

        [class*='icon'] {
          opacity: 1;
        }
      }

      [class*='icon'] {
        opacity: 0;
      }
    }
  }
  .range-title {
    font-size: 16px;
    color: $titleColor;
    margin-bottom: 10px;
    font-weight: 500;
  }
}

.checkbox-head-wrap {
  .checkbox-wrap {
    width: 50%;

    @media (max-width: 767px) {
      width: 100%;
      min-height: 135px;
    }

    .checkbox-group {
      flex-basis: 100%;
    }

    & + .checkbox-wrap {
      border-left: 1px solid #e3e3e3;
    }
  }
}

.generate-links {
  border-top: 1px solid #e3e3e3;
  padding: 20px;
  input[type='text'] {
    flex-grow: 1;

    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .btn {
    margin-left: 15px;

    @media (max-width: 767px) {
      margin: 0 auto;
    }

    .icon-links:before {
      content: '\004c';
      vertical-align: text-top;
      margin-right: 10px;
    }

    i {
      vertical-align: sub;
      margin-right: 15px;
    }
  }
}

//range slider
#slider {
  margin-top: 20px;
  #custom-handle {
    top: -2px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: $orange;
    background: none;
    margin-left: -15px;

    span {
      position: absolute;
      top: 25px;
      transform: translateX(-50%);
    }
  }
}

.ui-slider-horizontal {
  height: 5px;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-widget-content {
  background: #e3e3e3;
}

.ui-widget-header {
  background: $orange;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  color: inherit;
}





