//Flex
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.justify-sb {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-self-d {
  align-self: flex-end;
}

//width
.w-100 {
  width: 100%;
}

.w-30 {
  width: 30%;
}

//position
.fixed-to-top {
  position: fixed;
  z-index: 99;
  top: 0;
}

//text align
.text-center {
  text-align: center;
}

//line height
.line-height {
  line-height: 0;
}

//text-color
.text-orange {
  color: $orange;
}

.text-grey {
  color: $gray;
}

.text-titleColor {
  color: $titleColor;
}

//text weight
.text-bold {
  font-weight: 700;
}

//width
.full-width {
  width: 100%;
}

//margin
.ml-auto {
  margin-left: auto;
}

//display-block
.d-block{
  display: block;
}

//ttu
.ttu{
  text-transform: uppercase;
}

//box

.bg-box-blue{
  background-color: #00c0ef;
}

.border-box-blue{
  border: 2px solid #00c0ef;

  &:hover{
    background-color: #00c0ef !important;
  }
}

.bg-box-red{
  background-color: #dd4b39;
}

.border-box-red{
  border: 2px solid #dd4b39;

  &:hover{
    background-color: #dd4b39 !important;
  }
}

.bg-box-green{
   background-color: #00a65a;
 }

.border-box-green{
  border: 2px solid #00a65a;

  &:hover{
    background-color: #00a65a !important;
  }
}

.bg-box-org{
  background-color: #f58220;
}

.border-box-org{
  border: 2px solid #f58220;

  &:hover{
    background-color: #f58220 !important;
  }
}

.table-bg{
  background: linear-gradient(to right, #367fa9, #25b7c4);
  border-radius: 5px;
}

.title{
  margin-bottom: 30px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-left: 5px;
  border-left: 2px solid #f58220;
}