//Font
$fontFamily: 'Open Sans', sans-serif;
$fontLight: 300;
$fontSemiBold: 600;
$fontBold: 700;
$lineHeight: 1;
$fontSize: 14px;

//Color
$black: #333;
$white: #fff;
$darkGray: #979797;
$gray: #bababa;
$lightGray: #e3e3e3;
$xsLightGray: #f5f5f5;

$orange: #f58220;
$orangeLight: #ffa200;

//title
$titleColor: #a6a6a6;
$titleFontSize: 16px;

//aside
$asideWidth: 188px;
$asideMobileWidth: 60px;

//card
$cardBg: #fff;